.header {
    background-color: #800020;
    font-family: 'Sintony', sans-serif;
    text-align: center;
    padding: 5%;
}

label {
    width: 10%;
    padding-right: 20px;
    margin: 8px 0;
    box-sizing: border-box;
    white-space: pre-wrap;
    /*column-count: 2;*/
}
 .column {
    float: left;
    width: 100%;
}

.row {
    text-align: center;
    vertical-align: center;
    padding-top: 10%;
    background: #ddd;
}

/* Add a card effect for articles */
.card {
    background-color: grey;
    margin-top: 20px;
    width: 50%;
    font-family: 'Sintony', sans-serif;
}

.card a{
    background-color: grey;
    margin-top: 20px;
    width: 30%;
    height: 40%;
    font-family: 'Sintony', sans-serif;
}

.card a:hover {
    color: lightblue;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Center column */
.middlecolumn {   
    width: 100%;
    height: 75%;
}

.middleColumnVIN{   
    width: 100%;
    height: 75%;
    display: table;
    vertical-align: center;
    text-align: center;
    /*display: none;*/
    /*visibility: hidden*/
}

#rounded1 {
    border-radius: 25px;
    padding: 10px; 
    vertical-align: center;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: auto;   
}

/* Main column (VINpg)*/
.mainText {   
    float: left;
    width: 100%;
}
 .leftColumn {
    float: left;
    width: 50%;
}

.rightColumn {
    float: right;
    width: 50%;
}

.input[type=text] {
    width: 100%;
    height: 70px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    column-count: 2;
}

input[type=text]:focus {
    background-color: pink;
}

.footer {
    text-align: center;
    margin-top: 40%;
    font-family: 'Sintony', sans-serif;
}

/* table (output1)*/
#vinresponse {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#vinresponse td, #vinresponse th {
    border: 1px solid #444;
    padding: 8px;
}

#vinresponse tr:nth-child(even){background-color: #f2f2f2;}

#vinresponse tr:hover {background-color: #444;}

#vinresponse th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

