.header {
    background-color: #800020;
    font-family: 'Sintony', sans-serif;
    text-align: center;
    padding: 3%;
}

/*form  { display: table;      }*/
/*p     { display: table-row;  }*/

label {
    width: 10%;
    padding-right: 20px;
    margin: 8px 0;
    box-sizing: border-box;
    white-space: pre-wrap;
    display: table-cell;
    /*column-count: 2;*/
}
 .column {
    float: left;
    width: 100%;
}

.row {
    text-align: center;
    /*vertical-align: center; */

    padding: 5%;
    background: #ddd;
}

/* for curvy buttons */
.card {
    background-color: grey;
    margin-top: 20px;
    width: 50%;
    font-family: 'Sintony', sans-serif;
}

.card a{
    background-color: grey;
    margin-top: 20px;
    width: 30%;
    height: 40%;
    font-family: 'Sintony', sans-serif;
}

.card a:hover {
    color: lightblue;
}


/* centered column (beginning) */
.middlecolumn {   
    width: 100%;s
    background-color: LightGrey;

}

#rounded1 {
    border-radius: 25px;
    padding: 10px; 
    vertical-align: center;
    z-index: 15;
    top: 30%;
    left: 30%;
    margin: auto;   
}

/* centered column (beginning) */
.middlecolumn2 {   
    width: 100%;
    height: 30%;
    position:absolute;
    top: 130%;
    left: 23% ;
    position-anchor: 10% 10%;
}

#rounded2 {
    border-radius: 25px;
    padding: 10px; 
    z-index: 15;
    top: 30%;
    left: 30%;
    vertical-align: center;
    display: inline-block;
}

.mainText{
    background-color: grey;
    width: 30%;
    font-family: 'Sintony', sans-serif;
}

.mainText a{
    background-color: grey;
    margin-top: 20px;
    width: 30%;
    height: 30%;
    font-family: 'Sintony', sans-serif;
}

.mainText a:hover {
    color: lightblue;
}

.leftColumn {
    float: left;
    width: 50%;
}

.rightColumn {
    float: right;
    width: 50%;
}

.input[type=text] {
    width: 100%;
    height: 70px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    column-count: 2;
    /*display: table-cell;*/
}

input[type=text]:focus {
    background-color: pink;
}

.footer {
    text-align: center;
    margin-top: 40%;
    font-family: 'Sintony', sans-serif;
}